.task {
    padding: var(--padding-xl);
    background-color: var(--eerie-black);
    box-shadow: 0 0 8px var(--night);
    border-radius: 4px;
}

.task__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.task[open] .task__title {
    margin-bottom: var(--margin-s);
}

.task__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-bottom: var(--margin-s);
}

.task__meta li {
    padding: var(--padding-s) var(--padding-l);
    width: fit-content;
    background-color: var(--night);
    border-radius: 4px;
}

.task__description {
    margin-bottom: var(--margin-m);
}

.task__menu {
    display: flex;
    gap: 0.5rem;
}

