.task-form {
    padding: var(--padding-2xl);
    background-color: var(--black-olive);
    border-radius: 4px;
    box-shadow: 0 0 8px var(--night);
}

.task-form__legend {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: var(--margin-m);
}

.text-field {
    display: grid;
    grid-template-areas: "label blank" "input input";
    margin-bottom: var(--margin-s);
}

.text-field__label {
    grid-area: label;
    width: fit-content;
    background-color: var(--night);
    padding: var(--padding-m) var(--padding-xl)  var(--padding-xs) var(--padding-xl);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-transform: uppercase;
}

.text-input {
    grid-area: input;
    border: 0.25rem solid var(--night);
    padding: var(--padding-xs) var(--padding-m);
    background-color: var(--cream);
    color: var(--night);
    box-shadow: 0 0 8px var(--night);
}

.task-form__button {
    display: block;
    margin-inline: auto;
}